@use '../generals/colors.scss';
@use '../generals/variables.scss';
@use '../generals/separator.scss';
@use '../generals/type-fonts.scss' as fonts;

.contacts {
  background-color: colors.$bg-light;

  &__container {
    width: variables.$general-width-content-sections;
    height: 813px;
    margin: 75px auto;
  }

  &__title {
    @include fonts.bigText(colors.$font-gold);
  }

  &__separator {
    @include separator.separatorSection;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-title {
      @include fonts.middleTextRobotoMedium;
    }

    &-list {
      display: flex;
      margin-top: 50px;
      flex-direction: column;
      gap: 25px;
    }

    &-item {
      display: flex;
      gap: 5px;
    }

    &-name,
    &-link,
    &-address {
      height: 26px;
      @include fonts.lessMiddleTextLight(colors.$dark-color-link, false);
    }

    &-name,
    &-link {
      cursor: pointer;
    }
  }

  &__map {
    width: 960px;

    &-content {
      height: 620px;
      background: url('../../assets/img/map-plug-must_be_deleted.webp') center/cover no-repeat;
    }
  }
}