@use '../components/logo.scss';
@use '../generals/variables.scss';
@use '../generals/colors.scss';
@use '../generals/fonts.scss';
@use '../generals/type-fonts.scss' as font;

.header {
  display: flex;
  width: variables.$general-width-sections;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: colors.$bg-dark;
  @include logo.logo;

  &__container {
    display: flex;
    width: variables.$general-width-content-sections;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 100%;
    max-width: 775px;
    max-height: 33px;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-link {
    @include font.lessMiddleText(colors.$bg-light, variables.$font-weight-s, false, variables.$letter-spacing-sm);

    &:hover {
      color: colors.$hover-color-link;
    }
  }
}