@use '../components/logo.scss';
@use '../components/burger-button.scss' as buttonMenu;
@use '../components/burger-menu.scss' as burgerMenu;
@use '../components/social.scss';
@use '../generals/variables.scss';
@use '../generals/colors.scss';
@use '../generals/fonts.scss';
@use '../generals/type-fonts.scss' as font;

.header {
  position: relative;
  z-index: 1;
  display: flex;
  width: variables.$general-width-sections;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: colors.$bg-dark;
  @include logo.logo;
  @include buttonMenu.burgerButton;
  @include social.socialLinks;
  @include burgerMenu.burgerMenu;

  @media (max-width: 1460px) {
    box-sizing: border-box;
    padding: 0 20px;

    @media (max-width: 1024px) {
      height: 130px;

      @media (max-width: 768px) {
        height: 110px;

        @media (max-width: 420px) {
          height: 90px;
        }
      }
    }
  }

  &__container {
    display: flex;
    width: variables.$general-width-content-sections;
    justify-content: space-between;
    align-items: center;
  }
}