@use '../generals/colors.scss';
@use '../generals/variables.scss';
@use '../generals/type-fonts.scss' as fonts;
@use '../generals//separator.scss';
@use '../components/tour-card.scss';

.visiting {
  padding: 75px 0;
  background-color: colors.$bg-light;

  &__container {
    width: variables.$general-width-content-sections;
    height: 1116px;
    margin: 0 auto;
  }

  &__title {
    @include fonts.bigText(colors.$font-gold);
  }

  &__separator {
    @include separator.separatorSection;
  }

  &__tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 75px;
  }
}