@use '../generals/colors.scss';
@use '../generals/variables.scss';

@mixin socialLinks {
  &__social {
    align-self: flex-end;
    display: flex;
    gap: 25px;

    &-item {
      display: flex;
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid colors.$footer-separator;
      box-shadow: 0 0 0 0 colors.$footer-separator;
      cursor: pointer;

      &:hover {
        border: 1px solid colors.$font-gold;
        transition: all 0.3s linear;
      }
      &:hover a svg path {
        fill: colors.$font-gold;
      }
    }

    &-link {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }
  }
}