@use '../generals/type-fonts.scss' as fonts;
@use '../generals/variables.scss';
@use '../generals/colors.scss';

.card {
  display: flex;
  height: 424px;
  flex-direction: column;
  cursor: pointer;

  &:hover .card__separator{
    width: 100%;
    transition: all 0.5s linear;
  }

  &__title {
    height: 35px;
    margin: 25px 0 10px;
    @include fonts.bigLessText;
  }

  &__separator {
    width: 300px;
    height: 2px;
    margin: 0 auto 10px 0;
    padding: 0;
    border: none;
    background-color: colors.$dark-red;
    transition: all 0.5s linear;
  }

  &__text {
    height: 26px;
    margin-bottom: 10px;
    @include fonts.lessMiddleTextThin;
  }

  &__small-text {
    height: 21px;
    @include fonts.smallTextThin;
  }
}