//general colors
$bg-dark: #030303;
$bg-light: #fff;
$dark-red: #710707;
$font-gold: #9d8665;

//button variables
$light-color-link: $bg-light;
$dark-color-link: #000;
$hover-color-link: $font-gold;
$active-color-link: #7e6c51;