@use './colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    font-size: 24px;
    color: unset;
    transition: all 0.2s linear;

    @media (max-width: 1024px) {
      font-size: 21px;
    }
  }

  &:active {
    font-size: 20px;
    color: unset;
    transition: font-size 0.1s linear;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
}