@use './colors.scss';

@mixin darkLinks {
  color: colors.$dark-color-link;

  &:hover {
    color: colors.$hover-color-link;
  }

  &:active {
    color: colors.$active-color-link;
  }
}

@mixin lightLinks {
  color: colors.$light-color-link;

  &:hover {
    color: colors.$hover-color-link;
  }

  &:active {
    color: colors.$active-color-link;
  }
}