@use './fonts.scss';
@use './colors.scss';

@mixin linksText {
  @include fonts.fontRoboto;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.03em;
}

@mixin darkLinks {
  @include linksText;
  color: colors.$dark-color-link;

  &:hover {
    color: colors.$hover-color-link;
  }

  &:active {
    color: colors.$active-color-link;
  }
}

@mixin lightLinks {
  @include linksText;
  color: colors.$light-color-link;

  &:hover {
    color: colors.$hover-color-link;
  }

  &:active {
    color: colors.$active-color-link;
  }
}