@use './fonts.scss';
@use './variables.scss';
@use './colors.scss';

@mixin bigText($color-text) {
  @include fonts.fontForum;
  font-weight: variables.$font-weight-m;
  font-size: 80px;
  line-height: variables.$font-height-s;
  letter-spacing: variables.$letter-spacing-xs;
  text-transform: variables.$text-transform-uppercase;
  color: $color-text;
}

@mixin bigLessText {
  @include fonts.fontForum;
  font-weight: variables.$font-weight-m;
  font-size: 32px;
  letter-spacing: variables.$letter-spacing-m;
  text-transform: variables.$text-transform-uppercase;
  color: colors.$dark-color-link;
}

@mixin middleText($color-text, $weight-text, $letter-spacing-text) {
  @include fonts.fontRoboto;
  font-size: 28px;
  font-weight: $weight-text;
  color: $color-text;

  @if($letter-spacing-text) {
    letter-spacing: $letter-spacing-text;
  }
}

@mixin middleTextRobotoBold($is-letter-spacing) {
  @include fonts.fontRobotoBold;
  font-weight: variables.$font-weight-l;
  font-size: 28px;
  color: colors.$dark-color-link;

  @if ($is-letter-spacing) {
    letter-spacing: variables.$letter-spacing-xs;
  }
}

@mixin middleTextForum {
  @include fonts.fontForum;
  font-weight: variables.$font-weight-m;
  font-size: 28px;
  letter-spacing: variables.$letter-spacing-l;
  text-transform: variables.$text-transform-uppercase;
  color: colors.$bg-light;
}

@mixin middleTextRobotoMedium {
  @include fonts.fontRobotoMedium;
  font-weight: variables.$font-weight-lm;
  font-size: 28px;
  color: colors.$dark-color-link;
}

@mixin lessMiddleText($color-text, $weight-text, $height-text, $text-spacing) {
  @include fonts.fontRoboto;
  font-size: 22px;
  font-weight: $weight-text;
  color: $color-text;

  @if($height-text) {
    line-height: $height-text;
  }

  @if($text-spacing) {
    letter-spacing: $text-spacing;
  }
}

@mixin lessMiddleTextLight($color-text, $is-line-height) {
  @include fonts.fontRobotoLight;
  font-weight: variables.$font-weight-xm;
  font-size: 22px;

  @if ($is-line-height) {
    line-height: variables.$font-height-m;
  }

  color: $color-text;
}

@mixin lessMiddleTextThin {
  @include fonts.fontRobotoThin;
  font-weight: variables.$font-weight-s;
  font-size: 22px;
  color: colors.$bg-dark;
}

@mixin lessMiddleTextThinNotColor {
  @include fonts.fontRobotoThin;
  font-weight: variables.$font-weight-sm;
  font-size: 22px;
  letter-spacing: variables.$letter-spacing-sm;
}

@mixin smallText($color-text) {
  @include fonts.fontRoboto;
  font-weight: variables.$font-weight-m;
  font-size: 18px;
  line-height: variables.$font-height-l;

  @if ($color-text) {
    color: $color-text;
  }

  @else {
    color: colors.$bg-dark;
  }
}

@mixin smallTextThin {
  @include fonts.fontRobotoThin;
  font-weight: variables.$font-weight-s;
  font-size: 18px;
  color: colors.$bg-dark;
}